<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td><b>ID</b></td>
        <td><b>Username</b></td>
        <td><b>FullName</b></td>
        <td><b>Role</b></td>
        <td><b>Joined</b></td>
        <td><b>Email</b></td>
        <td><b>Address</b></td>
    </tr>
    <tr th:object="${user}">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>