<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.bookingform.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap/style.bookingform.css}" />
<!--    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>-->
<!--    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>-->
<!--    <script>-->


</head>
<body>
    <div class="booking-form">
        <form method="get" action="/booking/checkavailability">
            <div class="form-group">
                <span class="form-label">Room id</span>
                <select  id="roomidselect" onchange="setRoomPrice(this)">
                    <option th:each="room: ${roomMap}"
                            th:value="${room['value']}"
                            th:text="${room['key']}"
                </select>
            </div>
            <input hidden type="text" id="roomid" name="roomid">
            <br>
            <br>

            <div class="form-group">
                <span class="form-label">Price per one night</span>
                <br>
                <input class="form-control" id="roomprice" type="text" disabled >
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <span class="form-label">Check In</span>
                        <input class="form-control" type="date" onchange="checkvaliddate()" name="startdate" id="startdate" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <span class="form-label">Check out</span>
                        <input class="form-control" id="enddate" name="enddate" onchange="checkvaliddate()" type="date" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <span style="visibility: hidden" id="choosedatemessage" class="form-label">message</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <span class="form-label">Rooms</span>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <span class="select-arrow"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <span class="form-label">Adults</span>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <span class="select-arrow"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <span class="form-label">Children</span>
                        <select class="form-control">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                        <span class="select-arrow"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span class="form-label">Total price</span>
                <input class="form-control"id="totalprice" name="totalprice" type="text" style="visibility: hidden" >
            </div>
            <div class="form-group" th:if="${message}">
                <span class="form-label" th:text="${message}"></span>

            </div>
            <div class="form-btn">
                <button class="submit-btn">Check availability</button>
            </div>
        </form>
    </div>

</body>
<script>
    let roomprice = 0;


    setRoomPrice();
    function setRoomPrice(element) {
       roomprice= document.getElementById("roomidselect").value;
        document.getElementById("roomprice").value = roomprice;
        let roomid = parseInt(element.options[element.selectedIndex].text);
        document.getElementById("roomid").value = roomid;
    }
    function checkvaliddate() {
        let startdate = document.getElementById("startdate").value;
        let enddate = document.getElementById("enddate").value;
        if(enddate === ""||startdate===""){
            return ;
        }
        if (enddate <= startdate) {
            document.getElementById("choosedatemessage").innerHTML = "Your date is not valid. Please choose again";
            document.getElementById("choosedatemessage").style = "visibility: visible";
            document.getElementById("enddate").value = null;
            document.getElementById("startdate").value = null;
            document.getElementById("totalprice").style = "visibility: hidden";

            return ;
        } else {
            document.getElementById("choosedatemessage").style = "visibility: hidden";
            let datestart = new Date(startdate);
            let dateend = new Date(enddate);
            let offset = dateend.getTime() - datestart.getTime();
            let difdays = Math.round(offset/1000/60/60/24)
            let pricestring = document.getElementById("roomprice").value;
            let price = parseInt(pricestring);
            let totalprice = difdays * price
            if(totalprice == null){
                document.getElementById("totalprice").style = "visibility: hidden";
            }else {
                document.getElementById("totalprice").value = totalprice;
                document.getElementById("totalprice").style = "visibility: visible";
            }
        }


    }
    let date = new Date();
    let year = date.getFullYear();
    let month = "0"+(date.getMonth() +1);
    let day = date.getDate();
    let today = year +"-"+month+"-"+day;
    console.log(today);
    document.getElementById("startdate").setAttribute("min",today)
</script>
</html>